config nDPIsrvd
	option enabled 0
	option respawn 0
	#option tcp_listen '127.0.0.1:7000'
	#option max_remotes 32
	#option max_buffered_json_lines 1024

config nDPIsrvd-analysed
	option enabled 0
	option respawn 0
	option csv_dir '/mnt/sda1/nDPId-analysed-csv'

config nDPIsrvd-captured
	option enabled 0
	option respawn 0
	option pcap_rotation 86400
	option datadir '/mnt/sda1/nDPId-captured-pcaps'
	option capture_guessed 1
	option capture_undetected 1
	option capture_midstream 1
	option ignore_empty_l4 1
	list capture_risk '0'
	list capture_risk '~15'

config nDPId
	option enabled 0
	option respawn 0
	# General
	#option interface 'br-lan'
	#option internal_only 0
